body {
  font-family: "Prompt", sans-serif;
}
h1,
h2,
h3 {
  padding: 0 30px;
}
h1 {
  color: #2e7d32;
  font-size: 55px;
  font-weight: 700;
}
h2 {
  font-size: 30px;
  margin-bottom: 0;
  padding-bottom: 0;
  font-weight: 200px;
}
h3 {
  font-size: 12px;
  font-weight: 100px;
  opacity: 0.6;
}
img {
  width: 80px;
  border: 1px solid green;
  background-color: silver;
  border-radius: 80px;
  display: inline;
}
img:hover{
   border: 2px solid #2e7d32; 
}
hr {
  width: 85%;
  margin: 15px auto;
  display: block;
}
#showTemp {
  margin: 0px;
}
a {
  color: #2e7d32;
  text-decoration: none;
}
a:hover {
  font-weight: bold;
  color: #2e7d32;
}
.currentTemp {
  font-size: 12px;
  /*margin: 1px 6px;*/
  position: relative;
  top: 12px;
}
.cilciusFarenhayt {
  color: black;
  font-size: 10px;
  font-weight: lighter;
  position: relative;
  top: -30px;
  left: -20px;
}

.bgVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.9;
}
.card-bg {
  border-radius: 4.25rem;
  width: 641px;
  display: block;
  margin: 90px auto;
  background-color: #f9f9f9;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  /* margin: 90px 50px; */
  min-width: 412px;
}
.summeriInfo {
  padding: 30px 45px;
}
.summeriInfo p {
  font-size: 12px;
  display: inline;
  opacity: 0.6;
}
.smallIcon:hover {
  color: #2e7d32;
}
.nextDays {
  padding: 5px 60px;
  margin: 3px 20px;
  font-size: 12px;
  opacity: 0.6;
}
.nextDays:hover {
  color: #2e7d32;
}
.nextDayIcon {
  font-size: 20px;
  opacity: 0.6;
}
.nextDayIcon:hover {
  color: #2e7d32;
  opacity: 0.9;
}
.openSource {
  display: block;
  margin: 0 auto;
  font-size: 10px;
  padding: 15px;
  text-align: center;
}
